

:root {
  --tabpanel-background-color: rgba(0,0,0, 0.85) !important; 
  --chrome-content-separator-color: rgba(0,0,0, 0.85) !important;
  --toolbar-bgcolor: rgba(0,0,0, 0.85) !important;
  --toolbar-field-background-color: rgb(0,0,0) !important;
  --tab-selected-bgcolor: rgb(0,0,0) !important;
  --color: rgba(255,255,255) !important;
}


#tabbrowser-tabpanels{
	background: var(--bct-w-pages-bg) !important;
  
}

.tabbrowser-tab {
  color: rgba(255,255,255) !important;
}

.tabbrowser-tab[selected="true"] .tab-background {
  background-color: none !important; 
  border-radius: 20px !important; 
  color: rgba(255,255,255)!important;
}

#main-window {
	background: rgba(14,18,45, 0.0) !important;
	-moz-appearance: var(--bct-moz-appearance) !important;
  color: rgba(255,255,255) !important;
}

#customization-container {
	background: var(--bct-w-pages-bg)  !important;
  color: rgba(255,255,255) !important;
}

#nav-bar {
	background: rgba(14,18,45, 0.0) !important;
	border-color: rgba(14,18,45, 0.0) !important;
  border-top: none !important;
  color: rgba(255,255,255) !important;
}
#navigator-toolbox {
	background: rgba(0,0,0, 0.85) !important;
	border: none !important;
  color: rgba(255,255,255) !important;
}
#urlbar-background {
	background: rgba(0,0,0, 0.85) !important;
  color: rgba(255,255,255) !important;
}

#sidebar-box,
#sidebar-box:-moz-lwtheme-darktext,
#sidebar-box:-moz-lwtheme-brighttext {
	--sidebar-background-color: rgba(10,0,0, 0.85) !important;
	--sidebar-text-color: var(--bct-w-sidebar-color) !important;
	background: rgba(0,0,0, 0.85) !important;

}
#sidebar,
.sidebar-panel {
	background: rgba(10,0,0, 0.85) !important;
}

