
@import "colors.css";




@-moz-document url(about:newtab), url("about:home") {
    html{
        --newtab-background-color: transparent !important;
        --newtab-background-color-secondary: transparent !important;
    }
}

@-moz-document domain(github.com) {
  html {
    --bgColor-inset: none !important;
    --bgColor-default: none !important;
  }
  
}


@-moz-document domain(twitch.tv) {
  *{
    color: var(--custom-text-color) !important;
  }
  :root {
    --color-background-body: transparent !important;
    --color-background-base: transparent !important;
    --color-background-alt: transparent !important;
  }
  .cRMumF {
    box-shadow: none !important;
  }
}

@-moz-document domain(google.com) {
  :root {
    --xhUGwc: none !important;
    --bbQxAb: var(--custom-text-color) !important;
    /* --XKMDxc: rgba(57, 255, 20, 0.3) !important;*/
    
  }
  body {
    background: none !important;
    color: var(--custom-text-color) !important;
  }
  .minidiv .sfbg {
    background: none !important;
    box-shadow: none !important;
  }
  .RNNXgb {
    background: var(--custom-box-color) !important;
   
  }
  .aajZCb {
    background: var(--custom-box-color);
  }
  a:link {
    color: var(--custom-highlight-text-color1) !important;
  }
  a:visited {
    color: var(--custom-highlight-text-color2) !important;
  }
}


@-moz-document domain(youtube.com) {
  * {
    color: var(--custom-text-color) !important;
  }

  html, body {
    background-color: transparent !important;
    --yt-spec-base-background: transparent !important;  
  }

  #frosted-glass.with-chipbar.ytd-app {
    background: transparent !important;
    backdrop-filter: transparent !important;

  }
  #background.ytd-masthead {
    background: transparent !important;
    backdrop-filter: transparent !important;
  }

  .ytSearchboxComponentInputBox {
    background-color: var(--custom-box-color) !important;
  }
}

@-moz-document domain("nemlog-in.mitid.dk") {
  html, body, * {
    background-color: white !important;
    color: black !important;
  }

  input, textarea, select {
    background-color: white !important;
    color: black !important;
  }
}